<form [formGroup]="theaterForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Theater Name:</label>
    <input type="text" id="name" formControlName="name" placeholder="Enter Theater Name" required>
    <span style="color: red;" *ngIf="theaterForm.get('name')?.errors?.['required'] &&
      theaterForm.get('name')?.touched">This field is required</span>
      <span style="color: red;" *ngIf="theaterForm.get('name')?.errors?.['capital'] &&
      !theaterForm.get('name')?.errors?.['required'] && theaterForm.get('name')?.touched">
      First letter should be in Capital</span>
  </div>
  <div>
    <label for="movies">Movie Name:</label>
    <select id="movies" formControlName="movies" placeholder="Movie Name"  required >
      <option value="" disabled>---Select Movie---</option>
      <option *ngFor="let movie of filteredMovies" [value]="movie.title">
        {{ movie.title }}
      </option>
    </select>
    <br>
    <span
      style="color: red;"
      *ngIf="theaterForm.get('movies')?.errors?.['required'] && theaterForm.get('movies')?.touched"
    >
      This field is required
    </span>
  </div>

  <div>
    <label for="date">Date:</label>
    <input type="date" id="date" formControlName="date" required>
    <span style="color: red;" *ngIf="theaterForm.get('date')?.errors?.['required'] &&
    theaterForm.get('date')?.touched">This field is required</span>
  </div>
  <div>
    <label for="ticketPrice">Ticket Price:</label>
    <input type="number" id="ticketPrice" formControlName="ticketPrice" placeholder="₹" required>
    <span style="color: red;" *ngIf="theaterForm.get('ticketPrice')?.errors?.['required'] &&
    theaterForm.get('ticketPrice')?.touched">This field is required</span>
    <span style="color: red;" *ngIf="theaterForm.get('ticketPrice')?.errors?.['min'] &&
    theaterForm.get('ticketPrice')?.touched" >
    Minimum price is 70</span>
  </div>
  <button type="submit" [disabled]="theaterForm.invalid" >Add Theater</button>
</form>

<table>
  <thead>
    <tr>
      <th>Theater Name</th>
      <th>Movies</th>
      <th>Date</th>
      <th>Ticket Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let theater of theater">
      <td>{{ theater.name }}</td>
      <td>{{ theater.movies }}</td>
      <td>{{ theater.date }}</td>
      <td>{{ theater.ticketPrice }}</td>
    </tr>

    <tr *ngFor="let theater of movieService.theaterData()">
      <td>{{ theater.name }}</td>
      <td>{{ theater.movies }}</td>
      <td>{{ theater.date }}</td>
      <td>{{ theater.ticketPrice }}</td>
    </tr>
  </tbody>
</table>
