form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  color: #fff;

  div {
    margin-bottom: 20px;

    label {
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-top: 4px;
      box-sizing: border-box;
    }

    span {
      font-size: 0.9em;
    }
  }

  button {
    padding: 10px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    &:hover:enabled {
      background-color: #0056b3;
    }
  }
}
