.menu-list {
  list-style-type: none;
  display: flex;
  background-color: rgb(17, 52, 206);
  padding: 10px;
  border-radius: 5px;

  li {
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: center;
    width: 100%;



    a {
      color: #fff;
      text-decoration: none;
      padding: 10px;
      margin: 0 5px;
      border-radius: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #ddd;
        color: #000000;
      }

      &.active {
        background-color: #c30000c7;
        color: #fff;
      }
    }
  }
}
