
<ul class="menu-list">
  <li>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/addMovie" routerLinkActive="active">Add Movies</a>
    <a routerLink="/addTheater" routerLinkActive="active">Add Theater</a>
    <a routerLink="/about" routerLinkActive="active">About</a>

  </li>
</ul>


